<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
</head>
<body>
    <form method="POST" action="/users/signIn">
        <label for="user">유저 이름</label>
        <input name="user" type="text">

        <label for="email">이메일</label>
        <input name="email" type="email">

        <label for="password">비밀번호</label>
        <input name="password" type="password">

        <button type="submit">제출</button>
    </form>
</body>
</html>